body {  
    font-family: Arial, sans-serif;   /* fuente del texto en general  */
    background-color: #f4f4f4;  /* color del fondo */
    display: flex;  /* flex para centar el contenido*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;  /* Fondo blanco del contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* sombra para que resalte el contenedor  */
    width: 350px; /* ancho */
    text-align: center;
}
input, textarea {  
    width: 100%;  /* ocupa todo el espacio a lo ancho */
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #EE6C4D; /* color del  fondo del boton  */
    color: white; /* texto de color blanco */
    border: none; /* sin bordes */
    padding: 10px; /* padding  */
    cursor: pointer; /* al pasar el cursor cambia */
    width: 100%; /* tamaño ancho todo */
    border-radius: 5px;
    margin-top: 10px;
}
button:hover {
    background: #883e21; /* cambio de color al fondo al pasar el mouse */
}
#resultado {  
    margin-top: 20px; /* margen superior al resulatdo de 20 */
    padding: 10px;
    background: #e9ecef; /* fondo  */
    border-radius: 5px;
}
#botonImagen {
    display: flex; /*  organiza los elementos*/
    align-items: center;
    justify-content: center; /* centrar los elementos*/
    gap: 5px;
}
#vistaPrevia {
    display: none; /* oculta la imagen  */
    max-width: 100%; 
    margin-top: 10px;
    border-radius: 5px; /* bordes redondeados */
}